@font-face {
    font-family: wask;
    src:url("fonts/WorkSans-Regular.ttf");
    
}

#resultat, #resultat2 {
    
    border: solid black 2px;
    width: 50%;

    text-align: center;
    
      font-family: wask;
      font-size: 25px;
    
}

h1 {
    
    font-family: wask;
    font-size: 100px;
    margin-top:0px;   
}

h2 {
    font-family: wask;
}

.dico {
   
    vertical-align: center;
    margin-bottom: 0px;
     
}
p {
    display: block;
}


input {
    font-family: wask;
   display: block;
   border: solid black 2px;
   margin: 5px;
   padding: 2px;
  
}